@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

html:hover {
  scrollbar-color: #777 transparent;
}
